# Root .gitignore

# history
.history

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
.env.local
client/.env
server/.env

# Build/dist folders
dist/
build/
client/build/
server/build/

# OS / Editor files
.DS_Store
.vscode/

# Ignore package-lock files
package-lock.json
client/package-lock.json
server/package-lock.json
